body {
    --color-background: #fafafa;
    --color-foreground: #1f2023;

    --color-background-footer: rgb(190, 190, 190);
    --color-foreground-footer: rgb(40, 40, 40);

    --image-grayscale: 0;
    --image-opacity: 100%;
}

body.dark {
    --color-background: #1f2023;
    --color-foreground: #efefef;

    --color-background-footer: rgb(30, 30, 30);
    --color-foreground-footer: rgb(200, 200, 200);

    --image-grayscale: 50%;
    --image-opacity: 75%;
}

img,
video {
  filter: grayscale(var(--image-grayscale)) opacity(var(--image-opacity));
}

#main {
    background-color: var(--color-background);
    height: 86vh;
    color: var(--color-foreground);
    width: auto;
    margin-top: 4vh;
}

#footer {
    height: 10vh;
    background-color: var(--color-background-footer);
    color: var(--color-foreground-footer);
}