/* Хэдер */
#header {
    position: fixed;
    justify-content: space-around;
    width: 100%;
    height: 4vh;
    background-color: rgb(102, 102, 102);
    top: 0;
    display: flex;
}

/* Панель навигации */
#navBar {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    list-style-type: none;
}

/* Ссылка на другую часть сайта */
.link {
    display: inline-block;
    width: 5%;
    height: 50%;
    font-size: 80%;
    text-align: center;
    align-content: center;
    background-color: rgb(100, 100, 100);
    margin: 0.5vh;
    border: solid;
    border-radius: 0.8vh;
    border-color: rgb(200, 200, 200);
}

/* Иземенение ссылки на другую часть сайта при наведении */
.link:hover {
    background-color: rgb(130, 130, 130);
    border-radius: 0.4vh;
    border: solid;
    transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    border-color: rgb(226, 226, 226);
}

/* Div в котором кнопка смены темы */
#themeDiv {
    width: 4vh;
    display: flex;
    height: 4vh;
    font-size: 2vh;
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
}

/* Правая часть хэдера */
#rightDiv {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Кнопка смены темы */
#themeButton {
    height: 80%;
    width: 80%;
    margin: 0.4vh;
}

/* Изменение кнопки смены темы при наведении на неё */
#themeButton:hover {
    transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    opacity: 50%;
    height: 75%;
    width: 75%;
}

/* Кнопка входа в аккаунт */
#loginButton {
    width: auto;
    height: 50%;
    font-size: 90%;
    text-align: center;
    align-content: center;
    margin: 0.5vh;
    margin-right: 5%;
}

#loginButton:hover {
    background-color: rgb(130, 130, 130);
    transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
}

/* Картинка пользователя */
#userImg {
    height: 50%;
    margin-top: 0.2vh;
}


/* Разный хлам */
.link:active {
    background-color: rgb(100, 100, 100);
}

.linkURL {
    display: inline-block;
}

a:link {
    color: white;
    text-decoration: unset;
}

a:visited {
    color: white;
}